<app-navbar></app-navbar>

<div class="container">
  <h2>Today's article</h2>
  <hr>
  <div *ngFor="let art of article">
    <a href="{{art.url}}" target="_blank" >{{art.title}}</a>
    <br/>
    <br/>
  </div>

  <label for="title">Title:</label><br/>
  <textarea [(ngModel)]="title" cols="70" id="title"></textarea>
  <br/>
  <label for="url">Url:</label><br/>
  <textarea [(ngModel)]="url" cols="70" id="url"></textarea>
  <br/>
  <button type="button" class="btn btn-primary" (click)="addArticle()">Add Article</button>
  <br>
  <button type="button" class="btn btn-danger" (click)="deleteArticle()">Delete Article</button>
</div>
<hr>
<hr>
<app-footer></app-footer>

